[Desktop Entry]
Encoding = UTF-8
Name = Calendar-Indicator
Version = 0.0.9.2
Comment = An indicator for Google Calendar
GenericName = Calendar-Indicator
Terminal = false
Icon = /opt/extras.ubuntu.com/calendar-indicator/share/pixmaps/calendar-indicator.svg
Type = Application
Exec = /opt/extras.ubuntu.com/calendar-indicator/bin/calendar-indicator
Categories = GNOME;GTK;Application;Utils;
Name[zh_TW] = 日曆
Name[tr] = Takvim
Name[ms] = Kalendar
Name[gl] = Calendario
Name[vi] = Lịch
Name[be] = Каляндар
Name[es] = Calendario
Name[cs] = Kalendář
Name[pt_BR] = Calendário
Name[ca] = Calendari
Name[pl] = Kalendarz
Name[sv] = Kalender
Name[sl] = Calendar-Indicator
Name[hu] = Naptár
Name[fi] = Kalenteri
Name[nl] = Kalender
Name[fr] = Agenda
Name[en_GB] = Calendar
Name[hr] = Kalendar
Name[ja] = カレンダー
Name[pt] = Calendário
Name[el] = Ημερολόγιο
Name[ru] = Календарь
Name[it] = Calendario
Name[si] = දින දර්ශනය
Name[en_AU] = Calendar
Name[uk] = Календар
Name[nb] = Calendar-Indicator
Name[et] = Calendar-Indicator
Name[zh_CN] = 日历
Name[de] = Kalender
Name[ro] = Calendar
Name[is] = Dagatal
Name[ko] = 캘린더
Name[da] = Kalender
Name[sk] = Kalendár
Comment[zh_TW] = 這是一個Google日曆的指示器
Comment[tr] = Google Takvim için bir gösterge
Comment[ms] = Merupakan penunjuk untuk Google Calendar
Comment[gl] = Un indicador para Google Calendar
Comment[vi] = Bộ chỉ thị cho Google Calendar
Comment[be] = Індыкатар для Google Календара
Comment[es] = Un indicador de Google Calendar
Comment[cs] = Indikátor pro Google Kalendář
Comment[pt_BR] = Um indicador para Google Calendar
Comment[ca] = Un indicador per al calendari de Google
Comment[pl] = Indykator dla Kalendarza Google
Comment[sv] = En indikator för Google Kalender
Comment[sl] = Indikator za Google Calendar
Comment[hu] = Indikátor a Google Naptárhoz
Comment[fi] = Ilmaisin Google-kalenteria varten
Comment[nl] = Een indicator voor Google Agenda
Comment[fr] = Un indicateur pour Google Agenda
Comment[en_GB] = An indicator for Google Calendar
Comment[hr] = Indikator za  Google kalendar
Comment[ja] = Google カレンダーのイベント通知
Comment[pt] = Um indicador para o Google Calendar
Comment[el] = Ένα Indicator για το Google Calendar
Comment[ru] = Индикатор для Календаря Google
Comment[it] = Un indicatore per Google Calendar
Comment[si] = ගූගල් දින දර්ශකය සදහා සූචකයක්
Comment[en_AU] = An indicator for Google Calendar
Comment[uk] = Індикатор для  календаря Google
Comment[nb] = En indikator for Google Kalender
Comment[et] = An indicator for Google Calendar
Comment[zh_CN] = Google 日历提示器
Comment[de] = Eine Anzeige für den Google-Kalender
Comment[ro] = Un indicator pentru Calendarul Google
Comment[is] = Indicator fyrir Google Dagatal
Comment[ko] = 구글 캘린더용 알리미
Comment[da] = En indikator for Google Calendar
Comment[sk] = Indikátor pre Google Kalendár
GenericName[zh_TW] = 日曆
GenericName[tr] = Takvim
GenericName[ms] = Kalendar
GenericName[gl] = Calendario
GenericName[vi] = Lịch
GenericName[be] = Каляндар
GenericName[es] = Calendario
GenericName[cs] = Kalendář
GenericName[pt_BR] = Calendário
GenericName[ca] = Calendari
GenericName[pl] = Kalendarz
GenericName[sv] = Kalender
GenericName[sl] = Calendar-Indicator
GenericName[hu] = Naptár
GenericName[fi] = Kalenteri
GenericName[nl] = Kalender
GenericName[fr] = Agenda
GenericName[en_GB] = Calendar
GenericName[hr] = Kalendar
GenericName[ja] = カレンダー
GenericName[pt] = Calendário
GenericName[el] = Ημερολόγιο
GenericName[ru] = Календарь
GenericName[it] = Calendario
GenericName[si] = දින දර්ශනය
GenericName[en_AU] = Calendar
GenericName[uk] = Календар
GenericName[nb] = Calendar-Indicator
GenericName[et] = Calendar-Indicator
GenericName[zh_CN] = 日历
GenericName[de] = Kalender
GenericName[ro] = Calendar
GenericName[is] = Dagatal
GenericName[ko] = 캘린더
GenericName[da] = Kalender
GenericName[sk] = Kalendár
